@import '../../styles/Settings/all';

.nodes_page {
  padding-left: $side_bar-expanded-width;
  height: 100%;
  .side-bar {
    padding: $grid-gutter;
    h1 {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 200;
    }
    .add-new {
      background-color: rgba($color-gray-darkest, 0.4);
      color: $color-gray-light;
      border: 0.0626rem dashed rgba($body-text-color, 0.4);
      border-radius: 0;
      height: 4.75rem;
      width: 100%;
      box-shadow: none;
      cursor: pointer;
      display: block;
      text-align: center;
      line-height: 4.75rem;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
  .grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: $grid-gutter;
    padding: $grid-gutter;
    min-height: 100%;
    .box {
      position: relative;
      font-weight: 300;

      .content {
        padding: $grid-gutter;
        max-height: 100%;
        overflow: auto;
      }

      &.node {
        grid-column: 1;
        grid-row: 1;
      }
      &.hardware {
        grid-column: 1;
        grid-row: 2/4;
      }
      &.network {
        grid-column: 2/5;
        grid-row: 1;
      }
      &.availability {
        grid-column: 2;
        grid-row: 2;
      }
      &.temperature {
        grid-column: 2;
        grid-row: 3;
      }
      &.cpu {
        grid-column: 3/5;
        grid-row: 2;
      }
      &.memory {
        grid-column: 3/5;
        grid-row: 3;
      }

      h1,
      h2 {
        font-weight: 200;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
      h1 {
        font-size: 1.4rem;
        padding-top: $grid-gutter;
      }
      h2 {
        font-size: 1.2rem;
      }
      p {
        margin-bottom: $grid-gutter/4;
        font-size: 1.2rem;
        &.label {
          margin-bottom: 0;
          + p {
            margin-bottom: $grid-gutter/2;
          }
        }
      }
      .label {
        font-size: 0.875rem;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
        color: $color-gray-medium;
        margin-right: 1rem;
      }
      .value {
        font-weight: 100;
        font-size: 3.5rem;
        text-align: center;
        display: block;
      }
      .connection {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-left: 0;
        a.button {
          background: $color-brand-dark-blue;
          border: 0.0625rem solid $color-gray-light;
          line-height: 2.2rem;
          height: 3rem;
          border-radius: 0.25rem;
          padding: $grid-gutter/5 $grid-gutter/2;
          cursor: pointer;
        }
        img,
        small {
          display: block;
        }
      }
    }
  }
}
