@import '../../styles/Settings/all';
.nodes_list {
  li {
    margin-bottom: $grid-gutter;
  }
  a {
    background-color: $color-gray-darkest;
    padding: $grid-gutter/2;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    figure {
      flex: 0 0 3rem;
      margin-right: $grid-gutter;
    }
    span {
      flex: 1 1 auto;
      display: block;
    }
  }
}
